# pycharm configs
.idea/

# eclipse configs
.settings/
.settings/*
*.project
*.pydevproject

# vim temp files
*.swo
*.swp

# pytest cache files
.pytest_cache/

# yapf config file
.style.yapf

*.pyc
*.DS_Store
*.gpickle

/FinalProject/Q2/fruits/fruits-360_dataset/fruits-360/
/FinalProject/Images/
/Homework/hw5/dogs-vs-cats
venv/
/Document/
__pycache__/
DES/test.py
FinalProject/Q2/fruits.zip
FinalProject/ProjectReport.docx
